<h3>Builty</h3>

<hr style="margin:6px 0px;">
<div class="row">
    <div class="col-md-4">
        <form class="form-horizontal">
            <fieldset>
                <legend>Basic Details</legend>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="company">Company</label>
                    <div class="col-md-8">
                        <select id="company" ng-model="builty.company" class="form-control">
                            <option value="">--select--</option>
                            <option ng-repeat="company in companies" value="{{ company.id }}">{{ company.title }}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="gr_no">GR NO</label>
                    <div class="col-md-8">
                        <input readonly ng-model="builty.gr_no_view" type="text" placeholder="No." class="form-control input-md">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="gr_no">GR Date</label>
                    <div class="col-md-8">
                        <input readonly ng-model="builty.gr_date" type="text" placeholder="Date" class="form-control input-md">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="delivery_point">Delivery Point</label>
                    <div class="col-md-8">
                        <input id="delivery_point" ng-model="builty.delivery_point" type="text" class="form-control input-md">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="pickup_point">Pickup Point</label>
                    <div class="col-md-8">
                        <select data-type="select2" ng-model="builty.pickup_point" class="form-control input-md">
                            <option value="">--select--</option>
                            <option ng-repeat="pickup in pickup_point">{{ pickup }}</option>
                        </select>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

    <div class="col-md-4">
        <form class="form-horizontal">
            <fieldset>
                <legend>Consignee Details</legend>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="from_city">From City</label>
                    <div class="col-md-8">
                        <input id="from_city" ng-model="builty.from_city" type="text" class="form-control input-md">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="consignee">Consignee</label>
                    <div class="col-md-8">
                        <select data-type="select2" ng-change="updateContact('consignee')" ng-model="builty.consignee" class="form-control">
                            <option value="">--SELECT--</option>
                            <option ng-repeat="party in parties" value="{{party.id}}">{{party.firm_name}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="consignee_address">Address</label>
                    <div class="col-md-8">
                        <textarea class="form-control" id="consignee_address" ng-model="builty.consignee_address"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="consignee_contact">Contact</label>
                    <div class="col-md-8">
                        <input id="consignee_contact" ng-model="builty.consignee_contact" type="text" class="form-control input-md">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="consignee_gstin">GSTIN</label>
                    <div class="col-md-8">
                        <input id="consignee_gstin" ng-model="builty.consignee_gstin" type="text" class="form-control input-md">
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

    <div class="col-md-4">
        <form class="form-horizontal">
            <fieldset>
                <legend>Consignor Details</legend>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="destination">Destination</label>
                    <div class="col-md-8">
                        <input id="destination" ng-model="builty.destination" type="text" class="form-control input-md">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="consignor">Consignor</label>
                    <div class="col-md-8">
                        <select data-type="select2" ng-change="updateContact('consignor')" ng-model="builty.consignor" class="form-control">
                            <option value="">--SELECT--</option>
                            <option ng-repeat="party in parties" value="{{party.id}}">{{party.firm_name}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="consignor_address">Address</label>
                    <div class="col-md-8">
                        <textarea class="form-control" id="consignor_address" ng-model="builty.consignor_address"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="consignor_contact">Contact</label>
                    <div class="col-md-8">
                        <input id="consignor_contact" ng-model="builty.consignor_contact" type="text" class="form-control input-md">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="consignor_gstin">GSTIN</label>
                    <div class="col-md-8">
                        <input id="consignor_gstin" ng-model="builty.consignor_gstin" type="text" class="form-control input-md">
                    </div>
                </div>

            </fieldset>
        </form>
    </div>

</div>
<!-- ROW -->

<hr>

<div class="row">
    <form method="post" novalidate class="form-horizontal">
        <fieldset>
            <div class="col-md-4">

                <div class="form-group">
                    <label class="col-md-4 control-label" for="vehicle">Vehicle</label>
                    <div class="col-md-8">
                        <select data-type="select2" ng-model="builty.vehicle" ng-change="updateVehicle()" class="form-control">
                            <option value="">--SELECT--</option>
                            <option ng-repeat="vehicle in vehicles" data-owner="{{ vehicle.owner }}" value="{{vehicle.reg_no}}">{{vehicle.reg_no}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="driver">Driver</label>
                    <div class="col-md-8">
                        <input id="driver" ng-model="builty.driver.name" type="text" class="form-control input-md">
                    </div>
                </div>
            </div>
            <div class="col-md-4">

                <div class="form-group">
                    <label class="col-md-4 control-label" for="vehicle_owner">Owner</label>
                    <div class="col-md-8">
                        <select id="vehicle_owner" data-type="select2" ng-model="builty.vehicle_owner" class="form-control">
                            <option value="">--SELECT--</option>
                            <option ng-repeat="owner in vehicle_owner" value="{{owner.id}}">{{owner.owner_name}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="driver_contact">Contact</label>
                    <div class="col-md-8">
                        <input id="driver_contact" ng-model="builty.driver.contact" type="text" class="form-control input-md">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-md-4 control-label" for="vehicle_remark">Remark</label>
                    <div class="col-md-8">
                        <input id="vehicle_remark" ng-model="builty.vehicle_remark" type="text" class="form-control input-md">
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>

<hr>

<div class="row">

    <div class="col-md-8">
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-striped table-responsive">
                    <thead>
                        <tr>
                            <th colspan="6">Package Material Detail</th>
                            <th>
                                <button data-toggle="modal" data-target="#packageMaterialDetail" class="pull-right btn btn-xs btn-primary">Add Material</button>
                            </th>
                        </tr>
                        <tr>
                            <th>No of Pkgs</th>
                            <th>Material</th>
                            <th>Qty.</th>
                            <th>UOM</th>
                            <th>Pay Rate</th>
                            <th>Total</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="m in builty.materials">
                            <td>{{ m.no_of_pkg }}</td>
                            <td>{{ m.material }}</td>
                            <td>{{ m.quantity }}</td>
                            <td>{{ m.uom }}</td>
                            <td>₹ {{ m.rate }}</td>
                            <td>₹ {{ m.total }}</td>
                            <td>
                                <button class="btn btn-xs btn-danger" ng-click="delPkg($index)">Del</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- PACKAGE MATERIAL-->
            <div class="col-xs-12" ng-show="vouchers.cash.length > 0">
                <table class="table table-striped table-responsive">
                    <thead>
                        <tr>
                            <th colspan="5">Cash Voucher Detail</th>
                            <th>
                                <button data-toggle="modal" data-target="#cashVoucherDetail" class="pull-right btn btn-xs btn-primary">Add Cash Voucher</button>
                            </th>
                        </tr>
                        <tr>
                            <th>Voucher Type</th>
                            <th>Agst GR NO.</th>
                            <th>Payment Date</th>
                            <th>Vch. No.</th>
                            <th>Amount</th>
                            <th>Narration</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="vch in vouchers.cash">
                            <td>{{ vch.subtype }}</td>
                            <td>{{ $scope.setting.gr_prefix }}{{ vch.gr_no }}{{ $scope.setting.gr_suffix }}</td>
                            <td>{{ vch.date }}</td>
                            <td>{{ vch.vch_no }}</td>
                            <td>₹ {{ vch.amount }}</td>
                            <td>{{ vch.narration }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-xs-12" ng-show="vouchers.diesel.length > 0">
                <table class="table table-striped table-responsive">
                    <thead>
                        <tr>
                            <th colspan="4">Diesel Voucher Detail</th>
                            <th>
                                <button data-toggle="modal" data-target="#dieselVoucherDetail" class="pull-right btn btn-xs btn-primary">Add Diesel Voucher</button>
                            </th>
                        </tr>
                        <tr>
                            <th>Agst GR NO.</th>
                            <th>Payment Date</th>
                            <th>Vch. No.</th>
                            <th>Amount</th>
                            <th>Narration</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="vch in vouchers.diesel">
                            <td>{{ $scope.setting.gr_prefix }}{{ vch.gr_no }}{{ $scope.setting.gr_suffix }}</td>
                            <td>{{ vch.date }}</td>
                            <td>{{ vch.vch_no }}</td>
                            <td>₹ {{ vch.amount }}</td>
                            <td>{{ vch.narration }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- ROW -->
    </div>

    <div class="col-md-4">
        <form class="form-horizontal">
            <fieldset>
                <legend>Payment Details</legend>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="paid_by">Paid By</label>
                    <div class="col-md-8">
                        <select ng-model="builty.paid_by" ng-change="updatePaidBy()" class="form-control">
                            <option value="">--select--</option>
                            <option value="Consignee">Consignee</option>
                            <option value="Consignor">Consignor</option>
                            <option value="GTA">GTA</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="freight">Freight</label>
                    <div class="col-md-8">
                        <div class="input-group">
                            <span class="input-group-addon">₹</span>
                            <input ng-model="builty.freight" readonly type="text" class="form-control input-md">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="cgst_tax">CGST</label>
                    <div class="col-md-8">
                        <div class="input-group">
                            <span class="input-group-addon">{{builty.tax_percent.cgst}}%</span>
                            <input id="cgst_tax" readonly ng-model="builty.tax.cgst" type="text" class="form-control input-md">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="sgst_tax">SGST</label>
                    <div class="col-md-8">
                        <div class="input-group">
                            <span class="input-group-addon">{{builty.tax_percent.sgst}}%</span>
                            <input id="sgst_tax" readonly ng-model="builty.tax.sgst" type="text" class="form-control input-md">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="igst_tax">IGST/UTGST</label>
                    <div class="col-md-8">
                        <div class="input-group">
                            <span class="input-group-addon">{{builty.tax_percent.igst}}%</span>
                            <input id="igst_tax" readonly ng-model="builty.tax.igst" type="text" class="form-control input-md">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="total">Total</label>
                    <div class="col-md-8">
                        <div class="input-group">
                            <span class="input-group-addon">₹</span>
                            <input id="total" readonly ng-model="builty.total" type="text" class="form-control input-md">
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <!-- PAYMENT DETAILS-->
</div>
<!-- ROW -->
<div class="row">
    <div class="col-md-12 text-center">
        <div class="btn-group">
            <button ng-if="builty.id" data-toggle="modal" data-target="#dieselVoucherDetail" class="btn btn-md btn-primary">Add Diesel Voucher</button>
            <button ng-if="builty.id" data-toggle="modal" data-target="#cashVoucherDetail" class="btn btn-md btn-primary">Add Cash Voucher</button>
            <button type="button" ng-click="saveBuilty()" class="btn btn-md btn-success">
                <i class="glyphicon glyphicon-floppy-saved"></i> {{ builty.id?"Update":"Save" }}</button>
            <button ng-click="reload()" type="button" class="btn btn-md btn-danger">
                <i class="glyphicon glyphicon-remove"></i> Clear</button>
        </div>
    </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="modal fade" id="packageMaterialDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Package Details</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" novalidate method="post">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="no_of_pkg">No of Pkg</label>
                            <div class="col-md-6">
                                <input id="no_of_pkg" ng-model="pkg.no_of_pkg" type="text" class="form-control input-md">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label" for="material">Material</label>
                            <div class="col-md-6">
                                <select data-type="select2" ng-model="pkg.material" class="form-control" ng-change="updateMaterial()" style="width: 100%;">
                                    <option value=""></option>
                                    <option ng-repeat="material in materials" value="{{ material.name }}">{{ material.name }}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label" for="quantity">Quantity</label>
                            <div class="col-md-6">
                                <input id="quantity" ng-model="pkg.quantity" type="text" class="form-control input-md">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label" for="uom">Unit of Measurement</label>
                            <div class="col-md-6">
                                <input id="uom" ng-model="pkg.uom" type="text" class="form-control input-md">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="rate">Pay Rate</label>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-addon">₹</span>
                                    <input id="rate" ng-model="pkg.rate" type="text" class="form-control input-md">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="addPkg()" data-dismiss="modal" class="btn btn-primary">Add</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="cashVoucherDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Cash Voucher Details</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" novalidate method="post">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="subtype">Voucher Type</label>
                            <div class="col-md-5">
                                <select id="subtype" ng-model="cash_vch.subtype" class="form-control">
                                    <option value="Payment">Payment</option>
                                    <option value="Receipt">Receipt</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="gr_no">GR No.</label>
                            <div class="col-md-5">
                                <input id="gr_no" ng-model="cash_vch.gr_no" readonly type="text" class="form-control input-md">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="date">Voucher Date</label>
                            <div class="col-md-5">
                                <input id="date" ng-model="cash_vch.date" readonly type="text" class="form-control input-md">

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="amount">Amount</label>
                            <div class="col-md-5">
                                <input id="amount" ng-model="cash_vch.amount" type="text" class="form-control input-md">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="narration">Narration</label>
                            <div class="col-md-4">
                                <textarea class="form-control" id="narration" ng-model="cash_vch.narration"></textarea>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="addCashVoucher('cash')" data-dismiss="modal" class="btn btn-primary">Add</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="dieselVoucherDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Diesel Voucher Details</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" novalidate method="post">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="gr_no">GR No.</label>
                            <div class="col-md-5">
                                <input id="gr_no" ng-model="cash_vch.gr_no" readonly type="text" class="form-control input-md">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="date">Voucher Date</label>
                            <div class="col-md-5">
                                <input id="date" ng-model="cash_vch.date" readonly type="text" class="form-control input-md">

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="amount">Amount</label>
                            <div class="col-md-5">
                                <input id="amount" ng-model="cash_vch.amount" type="text" class="form-control input-md">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="narration">Narration</label>
                            <div class="col-md-4">
                                <textarea class="form-control" id="narration" ng-model="cash_vch.narration"></textarea>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="addCashVoucher('diesel')" data-dismiss="modal" class="btn btn-primary">Add</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>