<nav class="navbar navbar-inverse">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar_admin" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="admin.index">Transport App</a>
    </div>

    <div class="collapse navbar-collapse" id="navbar_admin">
      <ul class="nav navbar-nav">
        <li>
          <a ui-sref="admin.index">Home</a>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Master
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a ui-sref="admin.add_party">Add Party</a>
            </li>
            <li>
              <a ui-sref="admin.view_party">All Parties</a>
            </li>
            <li role="separator" class="divider"></li>
            <li>
              <a ui-sref="admin.add_vehicle">Add Vehicle</a>
            </li>
            <li>
              <a ui-sref="admin.view_vehicle">All Vehicle</a>
            </li>
            <li role="separator" class="divider"></li>
            <li>
              <a ui-sref="admin.material">Material</a>
            </li>
            <li>
                <a ui-sref="admin.company">Company</a>
              </li>
          </ul>
        </li>
        <li>
          <a ui-sref="admin.builty">New Builty</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <a ui-sref="admin.setting">Settings</a>
        </li>
        <li>
          <a>Logout</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
<div class="container">
  <div ui-view></div>
</div>